## Latihan

In [1]:
#1.Insert the missing part of the code below to output "Hello World".

print('Hello World')

Hello World

In [2]:
#2.Comments in Python are written with a special character, which one?

#This is a comment

In [3]:
#3. Create a variable named carname and assign the value Volvo to it.

carname = 'Volvo'
carname

'Volvo'

In [4]:
#4.Create a variable named x and assign the value 50 to it.

x = 50
x

50

In [5]:
#5.Display the sum of 5 + 10, using two variables: x and y.

x = 5
y = 10
print(x+y)

15

In [6]:
#6.Create a variable called z, assign x + y to it, and display the result. 

x = 5
y = 10
z = x+y
print(z)

15

In [7]:
#7.Use the len method to print the length of the string.

x = "Hello World"
print(len(x))

11

In [8]:
#8.Get the first character of the string txt.

txt = "Hello World"
x = txt[0]
x

'H'

In [9]:
#9.Get the characters from position 2 to position 5 (not included).

txt = "Hello World"
x = txt[2:5]
x

'llo'

In [10]:
#10.Return the string without any whitespace at the beginning or the end.

txt = " Hello World "
x = txt.strip() #menghilangkan spasi 
print(txt)
print(x)

 Hello World
Hello World

In [11]:
#11.Convert the value of txt to upper case.

txt = "Hello World"
txt = txt.upper()
txt

'HELLO WORLD'

In [12]:
#12.Convert the value of txt to lower case.

txt = "Hello World"
txt = txt.lower()
txt

'hello world'

In [13]:
#13.Replace the character H with a J.

txt = "Hello World"
txt = txt.replace("H", "j")
txt

'jello World'

In [14]:
#14. Multiply 10 with 5, and print the result.

print(10*5)

50

In [15]:
#15.Divide 10 by 2, and print the result.

print(10/2)

5.0

In [16]:
#16.Use the correct membership operator to check if "apple" is present in the fruits object.

fruits = ["apple", "banana"]

if "apple" in fruits:
    print("ya, apple ada di fruits!")

ya, apple ada di fruits!

In [17]:
#17.Use the correct comparison operator to check if 5 is not equal to 10.

if 5 != 10:
    print("5 tidak sama dengan 10")

5 tidak sama dengan 10

In [18]:
#18. Use the correct logical operator to check if at least one of two statements is True.

if 5==10 or 4==4:
    print("sedikitnya ada satu pernyataan yang benar")

sedikitnya ada satu pernyataan yang benar

In [19]:
#19.Print the second item in the fruits list.

fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [20]:
#20.Change the value from "apple" to "kiwi", in the fruits list.

fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [21]:
#21.Use the append method to add "orange" to the fruits list.

fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

In [22]:
#22.Use the insert method to add "lemon" as the second item in the fruits list.

fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
fruits

['apple', 'lemon', 'banana', 'cherry']

In [23]:
#23.Use the remove method to remove "banana" from the fruits list.

fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
fruits

['apple', 'cherry']

In [24]:
#24.Print the first item in the fruits tuple.

fruits =("apple", "banana", "cherry")
print(fruits[0])

apple

In [25]:
#25.Print the number of items in the fruits tuple.

fruits =("apple", "banana", "cherry")
print(len(fruits))

3

In [26]:
#26.Check if "apple" is present in the fruits set.

fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
    print("ya, apple adalah buah")

ya, apple adalah buah

In [27]:
#27.Use the add method to add "orange" to the fruits set.

fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [28]:
#28.Use the correct method to add multiple items (more_fruits) to the fruits set.

fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]

fruits.update(more_fruits)
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [29]:
#29.Use the remove method to remove "banana" from the fruits set.

fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
fruits

{'apple', 'cherry'}

In [30]:
#30.Use the discard method to remove "banana" from the fruits set.

fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
fruits

{'apple', 'cherry'}

In [31]:
#31.Use the get method to print the value of the "model" key of the car dictionary.

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year": 1964
}

print(car.get("model"))

Mustang

In [32]:
#32.Change the "year" value from 1964 to 2018.

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

car["year"] = 2018
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [33]:
#33.Add the key/value pair "color" : "red" to the car dictionary.

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

car["color"] = "red"
car

{'brand': 'Ford', 'color': 'red', 'model': 'Mustang', 'year': 1964}

In [34]:
#34.Use the pop method to remove "model" from the car dictionary.

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

car.pop("model")
car

{'brand': 'Ford', 'year': 1964}

In [35]:
#35.Use the clear method to empty the car dictionary.

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

car.clear()
car

{}

In [36]:
#36.Print "Hello World" if a is greater than b.

a = 50
b = 10

if a > b:
    print("Hello World")

Hello World

In [37]:
#37.Print "Hello World" if a is not equal to b.

a = 50
b = 10

if a != b:
    print("Hello World")

Hello World

In [38]:
#38.Print "Yes" if a is equal to b, otherwise print "No".

a = 50
b = 10

if a == b:
    print("ya")
else:
    print("tidak")

tidak

In [39]:
#39.Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

a = 50
b = 10

if a == b:
    print("1")
elif a > b:
    print("2")
else:
    print(3)

2

In [41]:
#40.Print "Hello" if a is equal to b, and c is equal to d.

if a == b and c == d:
    print("Hello")

In [ ]:
#41.Print "Hello" if either a is equal to b, or c is equal to d.

if a == b or c == d:
    print("Hello")

In [47]:
#42.Print i as long as i is less than 6.

i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [49]:
#43.Stop the loop if i is 3.

i = 3
while i < 6:
    if i == 3:
        break
    i += 1

In [50]:
#44.Loop through the items in the fruits list.

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [51]:
#45.In the loop, when the item value is "banana", jump directly to the next item.

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue #untuk melanjutkan tanpa mencetak yang "banana"
    print(x)

apple
cherry

In [52]:
#46.Use the range function to loop through a code set 6 times.

for x in range(6):
    print(x)

0
1
2
3
4
5

In [53]:
#47.Create a function named my_function.

def my_function():
    print("Hello dari sebuah fungsi")

In [54]:
#48.Call (execute) a function named my_function.

def my_function():
    print("Hello dari sebuah fungsi")

my_function()

Hello dari sebuah fungsi

In [55]:
#49.Inside a function with two parameters, print the first parameter.

def my_function(fname, lname):
    print(fname)

In [57]:
#50.Let the function return the x parameter + 5.

def my_function():
    return x + 5

In [58]:
#51.Create a lambda function that takes one parameter (a) and returns it.

x = lambda a : a

            ## Semoga Bermanfaat 
            ## @Raspiani_